<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2b45b8d9e35db8911aca57ef5ef36bb8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    <style>.folium-map {cursor: crosshair;}</style>
    
            <div class="folium-map" id="map_2b45b8d9e35db8911aca57ef5ef36bb8" ></div>
        
</body>
<script>
    
    
            var map_2b45b8d9e35db8911aca57ef5ef36bb8 = L.map(
                "map_2b45b8d9e35db8911aca57ef5ef36bb8",
                {
                    center: [50.6402809, 4.6667145],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_62681fb46f01ab5b06617d337a3874f9 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2b45b8d9e35db8911aca57ef5ef36bb8);
        
    
            var circle_marker_911b6845198eb012fecd097d3f86c002 = L.circleMarker(
                [50.8465573, 4.351697],
                {"bubblingMouseEvents": true, "color": "#f7d2bb", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#f7d2bb", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_2b45b8d9e35db8911aca57ef5ef36bb8);
        
    
        var popup_09249458b4838bcb0883027bc02cad7f = L.popup({"maxWidth": "100%"});

        
            
                var html_fe983e0b8b3338a66fc5bae456602624 = $(`<div id="html_fe983e0b8b3338a66fc5bae456602624" style="width: 100.0%; height: 100.0%;">Brussels</div>`)[0];
                popup_09249458b4838bcb0883027bc02cad7f.setContent(html_fe983e0b8b3338a66fc5bae456602624);
            
        

        circle_marker_911b6845198eb012fecd097d3f86c002.bindPopup(popup_09249458b4838bcb0883027bc02cad7f)
        ;

        
    
    
            circle_marker_911b6845198eb012fecd097d3f86c002.bindTooltip(
                `<div>
                     Brussels
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_1c9d1d1c4c1fdb5377931ada52f419e8 = L.polyline(
                [[50.8465573, 4.351697]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": "5,10", "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_2b45b8d9e35db8911aca57ef5ef36bb8);
        
</script>
</html>