<!DOCTYPE html>

<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<button onclick="history.go(-1)" style="background-color: #4CAF50; color: white; padding: 12px 20px; border: none; border-radius: 4px; cursor: pointer;">Return</button><script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" rel="stylesheet"/>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_611885ef79c96df09980d941c5030d4e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
</head>
<body>
<style>.folium-map {cursor: crosshair;}</style>
<div class="folium-map" id="map_611885ef79c96df09980d941c5030d4e"></div>
</body>
<script>
    
    
            var map_611885ef79c96df09980d941c5030d4e = L.map(
                "map_611885ef79c96df09980d941c5030d4e",
                {
                    center: [59.6749712, 14.5208584],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d253beafbbeb2bcd2bc02342b2a95bdc = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_611885ef79c96df09980d941c5030d4e);
        
    
            var circle_marker_600aa8f9670a92a14f0825e28fc19622 = L.circleMarker(
                [57.7072326, 11.9670171],
                {"bubblingMouseEvents": true, "color": "#ff6200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff6200", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_611885ef79c96df09980d941c5030d4e);
        
    
        var popup_e9d1276412f966ce7c4a08f71e68eeea = L.popup({"maxWidth": "100%"});

        
            
                var html_49fbcdc20e33a2ac379749ec4ce395c1 = $(`<div id="html_49fbcdc20e33a2ac379749ec4ce395c1" style="width: 100.0%; height: 100.0%;">Gothenburg</div>`)[0];
                popup_e9d1276412f966ce7c4a08f71e68eeea.setContent(html_49fbcdc20e33a2ac379749ec4ce395c1);
            
        

        circle_marker_600aa8f9670a92a14f0825e28fc19622.bindPopup(popup_e9d1276412f966ce7c4a08f71e68eeea)
        ;

        
    
    
            circle_marker_600aa8f9670a92a14f0825e28fc19622.bindTooltip(
                `<div>
                     Gothenburg
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ac44ff615d4ac784b5c98d81bd71c49b = L.circleMarker(
                [59.3251172, 18.0710935],
                {"bubblingMouseEvents": true, "color": "#ff6200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff6200", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_611885ef79c96df09980d941c5030d4e);
        
    
        var popup_1b418141f054040c66faab6b509b9951 = L.popup({"maxWidth": "100%"});

        
            
                var html_b49fa9bfb10772d9b9283d7a5960de47 = $(`<div id="html_b49fa9bfb10772d9b9283d7a5960de47" style="width: 100.0%; height: 100.0%;">Stockholm</div>`)[0];
                popup_1b418141f054040c66faab6b509b9951.setContent(html_b49fa9bfb10772d9b9283d7a5960de47);
            
        

        circle_marker_ac44ff615d4ac784b5c98d81bd71c49b.bindPopup(popup_1b418141f054040c66faab6b509b9951)
        ;

        
    
    
            circle_marker_ac44ff615d4ac784b5c98d81bd71c49b.bindTooltip(
                `<div>
                     Stockholm
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_d51b414182757fcb87d3b5166b5d24b9 = L.polyline(
                [[57.7072326, 11.9670171], [59.3251172, 18.0710935]],
                {"bubblingMouseEvents": true, "color": "#ff0000", "dashArray": "5,10", "dashOffset": null, "fill": false, "fillColor": "#ff0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_611885ef79c96df09980d941c5030d4e);
        
</script>
</html>