<!DOCTYPE html>

<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<button onclick="history.go(-1)">Return</button><script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" rel="stylesheet"/>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_b2347639dae94d212f90f8c90d3c2668 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
</head>
<body>
<style>.folium-map {cursor: crosshair;}</style>
<div class="folium-map" id="map_b2347639dae94d212f90f8c90d3c2668"></div>
</body>
<script>
    
    
            var map_b2347639dae94d212f90f8c90d3c2668 = L.map(
                "map_b2347639dae94d212f90f8c90d3c2668",
                {
                    center: [50.6402809, 4.6667145],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_90dc944b5833b362e31024113304a9fc = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b2347639dae94d212f90f8c90d3c2668);
        
    
            var circle_marker_5362387f55a0e95ea50c85e0bb5078c8 = L.circleMarker(
                [51.0538286, 3.7250121],
                {"bubblingMouseEvents": true, "color": "#f7d2bb", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#f7d2bb", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_b2347639dae94d212f90f8c90d3c2668);
        
    
        var popup_589122f21c90d3983efad12e84707352 = L.popup({"maxWidth": "100%"});

        
            
                var html_22d21102ebbc4fb70a3286aacd7c2191 = $(`<div id="html_22d21102ebbc4fb70a3286aacd7c2191" style="width: 100.0%; height: 100.0%;">Gent</div>`)[0];
                popup_589122f21c90d3983efad12e84707352.setContent(html_22d21102ebbc4fb70a3286aacd7c2191);
            
        

        circle_marker_5362387f55a0e95ea50c85e0bb5078c8.bindPopup(popup_589122f21c90d3983efad12e84707352)
        ;

        
    
    
            circle_marker_5362387f55a0e95ea50c85e0bb5078c8.bindTooltip(
                `<div>
                     Gent
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_aac05b6db6650c04a44b146743dbde82 = L.polyline(
                [[51.0538286, 3.7250121]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": "5,10", "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b2347639dae94d212f90f8c90d3c2668);
        
</script>
</html>